html {
   box-sizing: border-box;
}

*,
*:before,
*:after {
   box-sizing: inherit;
}

a {
   text-decoration: none;
   color: inherit;
}

ul,
li {
   list-style: none;
   margin: 0;
   padding: 0;
}

p {
   margin: 0;
   padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-size: inherit;
}
img {
   max-width: 100%;
}

body {
   font-family: "Display", sans-serif;
   margin: 0;
}

.container {
   max-width: 1626px;
   padding: 0 30px;
   margin: 0 auto;
}

.site-container {
   overflow: hidden;
}
.flex {
   display: flex;
}

.btn-reset {
   border: none;
   background-color: transparent;
   outline: none;
   cursor: pointer;
}

.section-title {
   font-weight: 700;
   font-size: 64px;
   line-height: 80px;
   @include dark;
}

.section-title--center {
   text-align: center;
   max-width: none;
}

.btn {
   font-size: 12px;
   padding: 33px 80px;
   font-weight: 800;
   letter-spacing: 1px;
   padding: 33px 80px;
   text-transform: uppercase;
   border-radius: 8px;
   @include white;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
   display: none;
}
