.become {
   background-color: #fff;
   padding-top: 150px;
   padding-bottom: 120px;
   &__title {
      max-width: 50%;
   }

   &__list {
      margin-top: 95px;
      display: flex;
      flex-wrap: wrap;
   }

   &__item {
      margin-bottom: 2%;
      width: 23.5%;
      margin-right: 2%;
      overflow: hidden;
      border-radius: 4px;
      position: relative;
      font-size: 0;
      &:nth-child(4n) {
         margin-right: 0;
      }
      &:before {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         content: "";
         @include neptune;
         opacity: 0;
         transition: opacity ease-in-out 0.3s;
      }
      &:hover:before {
         opacity: 0.9;
         transition: transform ease-in-out 0.3s;
      }
   }

   &__image {
      max-height: 100%;
      object-fit: cover;
   }

   &__text {
      font-size: 24px;
      font-weight: 700;
      line-height: 31px;
      @include white;
      position: absolute;
      left: 0;
      bottom: 0;
      padding-left: 54px;
      padding-bottom: 64px;
      transform: translateY(300px);
      transition: transform ease-in-out 0.3s;
   }
   &__item:hover &__text {
      transform: translateY(0px);
      transition: transform ease-in-out 0.3s;
   }
}
.container {
}
.section-title {
}
