.footer {
   border-top: 1px solid #d9d9d9;
   padding-top: 124px;

   &__column {
   }

   &__title {
      position: relative;
      font-family: "Helvetica", sans-serif;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 2.15px;
      text-transform: uppercase;
      color: #100e0b;
      padding-bottom: 35px;
      margin-bottom: 35px;
      &::after {
         content: "";
         position: absolute;
         left: 0;
         bottom: 0;
         background: #57a773;
         width: 48px;
         height: 1px;
      }
   }

   &__list {
   }

   &__item {
   }

   &__link {
      font-weight: 500;
      font-size: 13px;
      color: #959ea6;
      display: inline-block;
      margin-bottom: 13px;
      transition: all 0.3s;
      &:hover {
         transition: all 0.3s;
         color: #666e75;
      }
   }

   &__bottom {
      border-top: 1px solid #d9d9d9;
      margin-top: 113px;
      padding: 30px 0px;
   }

   &__copy {
      font-size: 13px;
      color: #959ea6;
      transition: all 0.3s;
      &:hover {
         transition: all 0.3s;
         color: #666e75;
      }
   }

   &__links {
      display: flex;
   }

   &__links-item {
      margin-left: 50px;
   }
}
.container {
}
.subs-form {
   width: 368px;
   &__field {
      width: 100%;
      height: 64px;
      border-radius: 8px;
      border: 1px solid #e4e4e4;
      padding: 0 60px 0 31px;
      background-image: url(../../images/user.svg);
      background-position: calc(100% - 31px) center;
      background-repeat: no-repeat;
      outline: none;
   }

   &__btn {
      width: 100%;
      @include neptune;
      margin-top: 16px;
      padding: 25px 80px;
      transition: all 0.3s;
      &:hover {
         transition: all 0.3s;
         background-color: #4196a6;
      }
   }
}
.btn-reset {
}
.btn {
}

.footer__container {
   justify-content: space-between;
}
