.newsletter {
   padding-top: 52px;
   padding-bottom: 150px;

   &__text {
      max-width: 374px;
      @include white;
   }

   &__title {
      margin-bottom: 40px;
      @include white;
   }

   &__descr {
      font-size: 16px;
      line-height: 21px;
      font-family: "SFC", sans-serif;
      font-weight: 400;
   }
   &__form {
      position: absolute;
      bottom: -96px;
      right: 133px;
   }
}
.container {
}
.newsletter-content {
   position: relative;
   border-radius: 8px;
   background-image: url(../../images/newsletter-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: space-between;
   padding: 0 133px;
   padding-top: 338px;
   padding-bottom: 177px;
}
.section-title {
}

.subscribe-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #fff;
   width: 501px;
   height: 416px;
   border-radius: 8px;
   padding-top: 53px;
   &__field {
      width: calc(100% - (72px * 2));
      border: none;
      border-bottom: 1px solid rgba($color: #1c2e3d, $alpha: 0.3);
      padding: 25px 0;
      font-size: 11px;
      letter-spacing: 2px;
      color: #1c2e3d;
      font-weight: 700;
      text-transform: uppercase;
      outline: none;
      background-color: #fff;
   }

   &__btn {
      width: 100%;
      @include neptune;
      margin-top: 76px;
      padding: 43px 80px;
      outline: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      transition: all 0.3s;
      &:hover {
         transition: all 0.3s;
         background-color: #4196a6;
      }
   }
}
.btn {
}
.btn-reset {
}
