.popup {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba($color: #000, $alpha: 0.7);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   transition: all 0.8s ease 0s;
   overflow-y: auto;
   overflow-x: hidden;
   &__body {
      min-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px 10px;
   }

   &__content {
      background-color: #fff;
      color: #000;
      max-width: 800px;
      padding: 30px;
      border-radius: 8px;
      position: relative;
      opacity: 0;
      transition: all 0.8s ease 0s;
      transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
   }

   &__close {
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 20px;
   }

   &__title {
      font-size: 40px;
      margin-bottom: 20px;
      letter-spacing: 2px;
      font-weight: 700;
   }

   &__text {
      line-height: 25px;
   }
}
.popup.open {
   opacity: 1;
   visibility: visible;
   z-index: 5;
}
.popup.open .popup__content {
   transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
   opacity: 1;
}

body.lock {
   overflow: hidden;
}
